* {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
}

.logonav {
    display: none;
}

.logonavcell {
    display: none;
}

a {
    text-decoration: none;
}


/* VERSIONE COMPUTER */
@media screen and (min-width: 769px) {
    .orizz {
        height: 100%;
        width: 250px;
        position: fixed; 
        z-index: 20;
        top: 0; 
        left: 0;
        overflow-x: hidden;
        background-color: black;
    }
    
    .navigatore {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logonav {
        display: flex;
        justify-content: center;
        width: calc(100% - 20px);
        margin: 20px 20px 20px 0;
    }

    .logonav img {
        width: 200px;
    }

    .menù {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .menu div {
        color: #5d5d5d;
    }

    .pmenù:hover {
        border-left-color: #8fd42c;
        border-left-style: solid;
        transition: 200ms;
    }

    .pmenù div:hover {
        filter: invert(100%) sepia(86%) saturate(30%) hue-rotate(292deg) brightness(84%) contrast(95%);
    }

    .pmenù div {
        display: flex;
        align-items: center;
        padding: 5px 0 5px 30px;
        color: #5d5d5d;
    }

    .pmenù a {
        padding-left: 10px;
        color: #5d5d5d;
        text-decoration: none;
    }

    .logomenù {
        width: 30px;
    }

    #titleplaylist {
        display: flex;
        color: white;
        margin: 20px 0 20px 30px;
    }

    .playlist div a {
        color: #5d5d5d;
        padding-left: 10px;
    }
    
    .playlist div a:hover {
        color: #d0d0d0;
        transition: 150ms;
    }

    .linkplaylist {
        display: flex;
        align-items: center;
        padding: 5px 0 5px 20px;
        margin: 10px 0 5px 0;
    }

    .plussign {
        font-size: 35px;
        padding: 0 10.6px 0 10.6px;
        background-color: #d0d0d0;
        margin-left: 12.9px;
    }

    .playlistscroll {
        overflow-y: scroll;
        width: 100%;
        height: 300px;
        z-index: 0;
    }

    .upgrade {
        position: fixed;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 80px;
        background-color: #080b12;
        z-index: 19;
    }

    .upgrade a {
        color: white;
        border-color: white;
        border-style: solid;
        border-radius: 40px;
        padding: 10px 30px;
        margin-right: 10px;
    }

    .upgrade a:hover {
        transform: scale(1.05);
    }

    main {
        display: flex;
        flex-direction: column;
        width: calc(100% - 290px);
        margin-left: 250px;
        background-color: #141922;
        padding: 20px;
    }

    .navmain{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 80px;
        width: 100%;
        height: 30px;
    }

    .linknavmain {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(80% / 6);
    }

    .linknavmain a {
        text-align: center;
        color: #6a6c71;
        /* margin: 0 20px; */
    }

    .linknavmain a:hover {
        color: #d0d0d0;
    }

    .borderbottom {
        position: absolute;
        bottom: -5px;
        left: calc(50% - 20px);
        display: none;
        width: 40px;
        height: 3px;
        background-color: #8fd42c;
    }

    .linknavmain a:hover + .borderbottom {
        display: block;
    }

    h2 {
        display: flex;
        color: white;
        font-size: 40px;
        width: 100%;
        padding-top: 30px;
        margin-bottom: 20px;    
    }

    .mainplaylist {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .cardplaylist {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% / 6);
        height: 300px;
    }

    .contimgplaylist {
        position: relative;
        width: 200px;
        height: 200px;
        cursor: pointer;
    }

    .imgplaylist {
        width: 200px;
    }

    .playbutton {
        position: absolute;
        display: none;
        left: 90px;
        top: 85px;
        width: 30px;
        z-index: 1;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(34deg) brightness(102%) contrast(102%);
    }

    .imgplaylist:hover {
        filter: brightness(0.5);
        transition: 200ms;
    }

    .playlistartisti:hover {
        filter: brightness(0.5);
        transition: 200ms;
    }

    .contimgplaylist:hover > .playbutton {
        display: block;
        transition: 200ms;
    }

    .pcardplaylist {
        text-align: center;
    }

    .pcardplaylist h3 {
        color: white;
        margin: 10px 0;
    }

    .pcardplaylist span {
        color: #6a6c71;
    }

    .spanhdue {
        color: #6a6c71;
    }

    .margincard {
        margin-top: 40px;
    }

    .artisti {
        margin: 0;
        padding: 0 0 20px 0;
    }

    .playlistartisti {
        width: 200px;
        clip-path: circle(50%);
    }

    .cred {
        position: fixed;
        bottom: 80px;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0;
        width: 250px;
        height: 70px;
        z-index: 20;
        background-color: black;
    }

    .cred hr {
        width: calc(100% - 65px);
    }

    .credup {
        display: flex;
        align-items: center;
        margin: 0 0 5px 30px;
    }

    .credup a {
        color: #5d5d5d;
    }

    .credup img {
        width: 15px;
        padding-right: 10px;
    }

    .credup a:hover {
        filter: invert(100%) sepia(86%) saturate(30%) hue-rotate(292deg) brightness(84%) contrast(95%);
    }

    .creddown {
        display: flex;
        align-items: center;
        margin: 0 0 5px 30px;
    }

    .creddown a {
        color: #d0d0d0;
    }

    .creddown img {
        padding: 2px;
        background-color: #5d5d5d;
        border-radius: 50%;
        width: 20px;
        margin-right: 10px;
    }

    footer {
        position: fixed;
        bottom: 0;
        display: flex;
        background-color: #282828;
        width: 100%;
        height: 80px;
        z-index: 20;
    }

    footer > div {
        display: flex;
        position: relative;
        width: 100%;
    }

    .imgplayer {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 20px;
    }

    .imgplayer > img {
        width: 50px;
    }

    .namesong {
        display: flex;
        flex-direction: column;
        padding: 0 10px;
    }

    .namesong h4 {
        margin: 5px 0;
        color: white;
        font-size: 15px;
    }

    .namesong span {
        color: #6a6c71;
        font-size: 10px;
    }

    .heart {
        width: 20px;
        margin-left: 50px;
        padding-right: 10px;
        filter: invert(37%) sepia(2%) saturate(10%) hue-rotate(326deg) brightness(101%) contrast(88%);
    }

    .heart:hover, .folder:hover {
        transform: scale(1.1);
        filter: invert(82%) sepia(36%) saturate(0%) hue-rotate(140deg) brightness(93%) contrast(95%);
        cursor: pointer;
    }

    .folder {
        width: 18px;
        filter: invert(37%) sepia(2%) saturate(10%) hue-rotate(326deg) brightness(101%) contrast(88%);
    }

    .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: 12%;
    }

    .pulsantiplayer {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
    }

    .pulsantiplayer img {
        padding: 10px;
        width: 20px;
        filter: invert(94%) sepia(3%) saturate(21%) hue-rotate(103deg) brightness(108%) contrast(100%);
    }

    .pulsantiplayer img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .duratasong {
        display: flex;
        align-items: center;
        width: 100%;
        height: 30px;
    }

    .duratasong span {
        color: #d0d0d0;
    }

    .barsong {
        width: 500px;
        height: 5px;
        border-radius: 10px;
        background-color: #6a6c71;
        margin: 0 30px;
    }

    .song {
        position: relative;
        width: 140px;
        height: 5px;
        border-radius: 10px;
        background-color: #d0d0d0;
    }

    .song:hover {
        background-color: #8fd42c;
    }

    /*  */
    .cerchiettosong {
        display: none;
        position: absolute;
        right: -2.5px;
        bottom: -2.5px;
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 50%;
    }

    .song:hover > .cerchiettosong {
        display: block;
    }

    .volplayer {
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        top: calc(25% + 11px);

    }

    .volplayer img {
        width: 15px;
        filter: invert(94%) sepia(3%) saturate(21%) hue-rotate(103deg) brightness(108%) contrast(100%);
        padding: 0 10px;
    }

    .volplayer div img:hover {
        transform: scale(1.2);
    }

    .barvol {
        width: 120px;
        height: 5px;
        border-radius: 10px;
        background-color: #6a6c71;
        margin: 0 10px;
    }

    .vol {
        position: relative;
        width: 40px;
        height: 5px;
        border-radius: 10px;
        background-color: #d0d0d0;
    }

    .vol:hover {
        background-color: #8fd42c;
    }

    .cerchiettovol {
        display: none;
        position: absolute;
        right: -2.5px;
        bottom: -2.5px;
        width: 12px;
        height: 12px;
        background-color: white;
        border-radius: 50%;
    }

    .vol:hover > .cerchiettovol {
        display: block;
    }
}

/* VERSIONE TABLET */
@media screen and (max-width: 768px) and (min-width: 481px) {
    
}



/* VERSIONE CELLULARE */
@media screen and (max-width: 480px) {
    
}